APP_ENV=development
APP_DEBUG=true

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=reservation_salles
DB_USERNAME=reservation
DB_PASSWORD=change_me

MYSQL_DATABASE=reservation_salles
MYSQL_USER=reservation
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

PMA_HOST=mysql
PMA_PORT=3306
